main {
    height: 75vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $backgroundColor;
    padding-top:1rem;

    #about_left {
        width: 55%;
        height: 100%;
        margin-left: 10rem;

        p {
            &:first-of-type {
            font-size: 1.8rem;
            font-weight: bold;
            }

            &:nth-of-type(2), 
            &:last-of-type {
            font-size: 1.5rem;
            line-height: 3rem;
            text-align: justify;
            margin-bottom: 2rem;
            }

            &:last-of-type {
            color: #FFFFFF;
            background-color: $headerBackgroundColor;
            padding: 1.5rem;
            }
        }
    }

    #about_right {
        width: 25%;
        height: 100%;
        margin-right: 10rem;
        box-sizing:border-box;
        color: #FFFFFF;

        p {
            padding-right: 2rem;
            padding-left: 2rem;

            &:first-of-type {
            font-size: 1.8rem;
            padding-top: 3rem;
            padding-bottom: 3rem;
            font-weight: bold;
            background-color: $headerBackgroundColor;
            margin-bottom:0;
            }

            &:last-of-type {
            font-size: 1.5rem;
            background-color: $headerBackgroundColor;
            margin-top:0;
            text-align: justify;
            line-height: 3rem;
            padding-bottom: 2rem;
            }   
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1080px){
    main {
        #about_left {
        width: 50%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 900px){
    main {
        #about_left {
        width: 47%;
        }
    }
}

@media screen and (min-width: 631px) and (max-width: 768px){
    main {
        height: auto;

        #about_left {
        width: 53%;
        margin-left: 3rem;
        }

        #about_right {
            width: 30%;
            margin-right: 3rem;
        }
    }
}

@media screen and (max-width: 630px){

    main {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        #about_left {
            box-sizing: border-box;
            margin: 0;
            padding: 0 3rem;
            width: 100%;
        }

        #about_right {
            box-sizing: border-box;
            margin: 0;
            padding: 0 3rem;
            width: 100%;
        }
    }
}


