footer {
    width: 100%;
    background-color: $footerBackgroundColor;
    border-top: .4rem solid $emphasizeColor;
    text-align: center;


    p {
        font-size: 1.5rem;
    }

    img {
        width: 20rem;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 480px) {

    footer {

        p {
            font-size: 1.3rem;
        }

        img {
            width: 15rem;
            margin-bottom: 1.5rem;
        }
    }

}