header {
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: $headerBackgroundColor;
    box-sizing: border-box;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #FFFFFF;
    border-bottom: 0.4rem solid $emphasizeColor;

    p {
        font-size: 3rem;
        font-weight: bold;
        span {
            color: $emphasizeColor;
        }
    }

    ul {
        list-style-type: none;
        line-height: 4rem;
        li {
            display: inline-block;
            padding: 2rem;      
            
            &:last-of-type {
                padding-right:0;
            }
            a {
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: bold;
                color: #FFFFFF;

                &:hover {
                    color: $linkHoverColor;
                }

                &:active {
                    color: $emphasizeColor;
                }

            }
        }
    }

    #hamburger {
        margin: auto 0;
        vertical-align: middle;        
        display: inline-block;
        display : none;
    }
}

@media screen and (min-width: 769px) and (max-width: 900px){

    header {
        ul {
            display:none;
        }
        #hamburger {
            display: inline-block;
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){

    header {

        p {
            font-size: 2rem;
        }

        padding-right: 2rem;
        padding-left: 2rem;
        ul {
            display:none;
        }
        #hamburger {
            display: inline-block;
        }
    }
}

@media screen and (max-width: 480px){

    header {

        p {
            font-size: 2rem;
        }

        padding-right: 2rem;
        padding-left: 2rem;
        ul {
            display:none;
        }
        #hamburger {
            display: inline-block;

            img {
                height: 30px;
            }
        }
    }
}