header {
    position: relative;
    width: 100%;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background-color: $headerBackgroundColor;
    box-sizing: border-box;
    padding-right: 10rem;
    padding-left: 10rem;
    color: #FFFFFF;
    border-bottom: 0.4rem solid $emphasizeColor;

    p {
        font-size: 3rem;
        font-weight: bold;

        span {
            color: $emphasizeColor;
        }
    }

    ul {
        list-style-type: none;
        line-height: 4rem;
        li {
            display: inline-block;
            padding: 2rem;      
            
            &:last-of-type {
                padding-right:0;
            }

            a {
                text-decoration: none;
                font-size: 1.6rem;
                font-weight: bold;
                color: #FFFFFF;

                &:hover {
                    color: $linkHoverColor;
                }

                &:active {
                    color: $emphasizeColor;
                }
            }
        }
    }

    #hamburger {
        margin: auto 0;
        vertical-align: middle;        
        display: inline-block;
        display : none;
    }

    #myLinks {
        position: absolute;
        top:100%;
        right:0;
        width: 100%;
        display:none;

        a {
            background-color:$headerBackgroundColor;
            color: $backgroundColor;
            display: block;
            font-size: 2rem;
            height: 3.5rem;
            line-height: 3.5rem;
            text-align: center;
            text-decoration: none;
            border-bottom: 0.1rem solid $emphasizeColor;
            &:first-of-type {
                border-top: 0.1rem solid $emphasizeColor;
            }
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 900px){

    header {

        p {
            line-height: 40px ;
        }

        ul {
            display:none;
        }
        #hamburger {
            display: inline-block;

            .fa-bars {
                font-size: 3rem;
            }

        }
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){

    header {
        padding-right: 2rem;
        padding-left: 2rem;

        p {
            font-size: 2rem;
            line-height: 40px;
        }

        ul {
            display:none;
        }
        #hamburger {
            display: inline-block;
            .fa-bars {
                font-size: 3rem;
            }
        }
    }
}

@media screen and (max-width: 480px){

    header {
        padding-right: 2rem;
        padding-left: 2rem;

        p {
            font-size: 1.7rem;
            line-height: 3rem;
        }

        ul {
            display:none;
        }
        #hamburger {
            display: inline-block;

            .fa-bars {
                font-size: 2.3rem;
            }
        }

        #myLinks {
            
            a {
                font-size: 1.3rem;
            }
        }
    }
}