#icons_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2rem;
    
    .box_1 {
        margin-left: 8%;
    }
    .box_3 {
        margin-right: 8%;
    }

    .small_box {
        width: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 9rem;
        }

        .logo_name {
            font-size: 1.7rem;
            font-weight:bold;
        }

        .description {
            font-size: 1.5rem;
            text-align: center;
        }
    }
}