main {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $backgroundColor;
    padding-top:1rem;

    #services_left {
        width: 55%;
        margin-left: 10rem;

        p {
            font-size: 1.8rem;
            font-weight: bold;
            margin-top:2rem;
        }
        
        .service_box {
            width: 100%;
            background-color: $serviceBoxBackgroundColor;
            box-sizing: border-box;
            padding: 2.5rem 2rem; 
            border: 1px solid #8395a7;
            margin-bottom: 0.5rem;

            &:last-of-type {
                margin-bottom: 2rem;
            }

            p {
                &:first-of-type {
                font-size: 1.8rem;
                font-weight: bold;
                }

                &:nth-of-type(2),
                &:nth-of-type(3) {
                    font-size: 1.6rem;
                    font-weight: normal;
                }
            }
        }
    }

    #services_right {
        width : 25%;
        margin-right: 10rem;
        margin-top: 2rem;
        color: #FFFFFF;
        background-color: $headerBackgroundColor;
        font-size: 1.5rem;
        box-sizing: border-box;
        padding: 2rem 2rem 1.5rem 1.5rem;

        p {
            font-size: 1.8rem;
            font-weight: bold;            
        }
        
        #name,
        #email,
        #message {
            margin-bottom: 0.4rem;
            margin-top: 0.4rem;
            width: 90%;
            height: 2.5rem;
            padding-left: 0.7rem;
        }

        #message {
            height: 6rem;
        }

        #send {
            cursor: pointer;
            box-sizing: border-box;
            border: none;
            color: #FFFFFF;
            font-size: 1.6rem;
            height: 3.5rem;
            background-color: $emphasizeColor;
            padding-left: 1.5rem;
            padding-right: 1.5rem;

            &:hover {
                background-color: #FFFFFF;
                color: $emphasizeColor;
            }
        }
    }
}

@media screen and (min-width: 900px) and (max-width: 1300px) {
    main {

        #services_left {
            width: 45%;
            margin-left: 7rem;

            .service_box {

                p {
                    &:nth-of-type(2) {
                        text-align: justify;
                    }
                }
            }
        }

        #services_right {
            width: 32%;
            margin-right: 7rem;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 899px) {
    main {

        #services_left {
            width: 45%;
            margin-left: 6rem;

            .service_box {
                p {
                    &:nth-of-type(2) {
                        text-align: justify;
                    }
                }
            }
        }

        #services_right {
            width: 32%;
            margin-right: 6rem;
        }
    }
}

@media screen and (min-width:620px) and (max-width: 768px) {

    main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding-right: 5rem;
        padding-left: 5rem;

        #services_left {
            width: 80%;
            margin-left: 0;

            p {
                &:first-of-type{
                text-align: center;
                }
            }

            .service_box {
                p {
                    &:nth-of-type(2) {
                        text-align: justify;
                    }
                }
            }
        }

        #services_right {
            width: 80%;
            margin-right: 0;
            margin-bottom: 3rem;;

            p{
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 619px) {
    main {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 1rem 0 0 0;

        #services_left {
            width: 90%;
            margin-left: 0;

            .service_box {
                margin-bottom: 2rem;

                p {
                    &:nth-of-type(2) {
                        text-align: justify;
                    }
                }
            }
        }

        #services_right {
            width: 90%;
            margin-right: 0;
            margin-bottom: 3rem;;
        }
    }
}